@model PortariaInteligente.Models.Reuniao

@{
    ViewData["Title"] = "Edit";
}

<h3>Editar Reunião</h3>
<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-6">
            <input type="hidden" asp-for="ReuniaoID">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VisitadoID" class="control-label"></label>
                <select asp-for="VisitadoID" class="form-control" asp-items="ViewBag.VisitadoID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReuniaoNome" class="control-label"></label>
                <input asp-for="ReuniaoNome" class="form-control" />
                <span asp-validation-for="ReuniaoNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReuniaoData" class="control-label"></label>
                <input asp-for="ReuniaoData" class="form-control" />
                <span asp-validation-for="ReuniaoData" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <input type="hidden" asp-for="ReuniaoID">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReuniaoHora" class="control-label"></label>
                <input asp-for="ReuniaoHora" class="form-control" />
                <span asp-validation-for="ReuniaoHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReuniaoSala" class="control-label"></label>
                <input asp-for="ReuniaoSala" class="form-control" />
                <span asp-validation-for="ReuniaoSala" class="text-danger"></span>
            </div>

        </div>
    </div>
    <div class=" col-md-12">
        <h4>Convites</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-5">
                <strong>Nome</strong>
            </dt>
            <dd class="col-sm-7">
                <strong>Email</strong>
            </dd>
        </dl>
        @foreach (Convite p in Model.Convites)
        {
            <dl class="row">
                <dt class="col-sm-5">
                    @Html.DisplayFor(modelItem => p.Visitantes.VisitanteNome)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(modelItem => p.Visitantes.VisitanteEmail)
                </dd>
            </dl>
        }

    </div>
    <input type="submit" value="Editar Reunião" class="btn btn-primary" />
    <input type="submit" value="Editar Convites" class="btn btn-primary" formaction="/Convites/Index?ReuniaoID=@Model.ReuniaoID" />
</form>

<div class="form-group">
    <a asp-action="Index">Voltar para a Lista</a>
</div>