@model PortariaInteligente.Models.Convite

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

<h3>Está certo de que quer excluir esse convite?</h3>
<div>
    <h4>Convite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Visitante
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visitantes.VisitanteNome)
        </dd class>
        <dt class = "col-sm-2">
            Reunião
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reunioes.ReuniaoNome)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VisitanteID" />
        <input type="hidden" asp-for="ReuniaoID" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-controller="Reunioes" asp-action="Index">Voltar para a Lista</a>
    </form>
</div>
