@*model @*PortariaInteligente.Models.Visitante *@

@{
    ViewData["Title"] = "RegrasDeSeguranca";
}

<h5>Portaria Inteligente</h5>

<hr />
<div class="text-center">
    <h4 class="display-4">Regras de Segurança </h4>
    <hr />
    <p>
        <br>
        <br />


        <div class="text-left" p align="Justify">

            1. Visitante e/ou Prestador de Serviço:
    <p></p>
    a) Para ter acesso às instalações da empresa, o visitante deve aguardar ter sua entrada autorizada pelo responsável
    interno em lhe receber que comunicará à portaria. Em específico aos
    prestadores de serviços, além da autorização prévia é imprescindível o
    envio de documentos que comprovem o vinculo empregatício com a empresa
    contratada, conforme nossa política de controle de terceiros. Ambos
    terão que ser identificados adequadamente na portaria com as seguintes
    informações:
    - Identificação do visitante e/ou prestador de serviço (se forem mais de um,
    todos devem ser identificados) com a apresentação de documento com foto;
    - Identificação da empresa de vínculo do visitante e/ou prestador de serviço;
    - Motivo da visita e/ou prestação de serviço;
    - Nome e departamento da pessoa que irá acompanhar a visita na unidade;
    - Estimativa do tempo da permanência do visitante e/ou prestador de serviço
    na unidade.
    - Placa do veículo, além de cor, marca e modelo.
    </p>
    <p>
        b) A estadia do visitante e/ou prestador de serviço é de responsabilidade do
        colaborador visitado ou que contratou o serviço. Que deve garantir a utilização
        dos EPI's, o cumprimentos das normas internas, além de acompanhá-lo na
        unidade dando as devidas instruções de procedimentos;
    </p>
    <p>
        c) O visitante e/ou prestador de serviço receberá um crachá de identificação,
        devendo usá-lo durante todo o período de sua estada na Unidade Operacional,
        devolvendo a portaria no momento de sua saída;
    </p>
    <p>
        d) Aportaria é responsável por registrar, através de Formulário de Entrada e
        Saída, todo o movimento de visitantes e prestadores de serviço, com as
        informações acima citadas, bem como pelo encaminhamento ao setor de
        interesse do mesmo. Posterior a este procedimento a portaria deverá telefonar
        ao colaborador responsável para avisar da chegada do visitante e/ou prestador
        de serviço;
    </p>
    <p>
        e) Os formulários preenchidos deverão ser armazenados em um só local, cada
        Unidade Operacional definirá o departamento responsável por este
        armazenamento.

    </p>



    2. Acesso de Veículos:
    <p></p>
    a) Aportaria tem que orientar os visitantes e prestadores de serviços quanto a:
    <p>
        - Respeitar o limite de velocidade sinalizado;
        - É obrigatório o estacionamento de ré nas áreas disponíveis para visitantes
        e/ou prestadores de serviços;
        - É proibido estacionar veículos em vias de acesso de entrada e saída, afim de
        não prejudicar o fluxo de veículos que por ali circulam. Após as 18 horas
        todos os veículos estranhos que adentrarem as dependências das
        Unidades Operacionais deverão ter o seu destino verificado para que assim
        evitemos a permanência de veículos/pessoas estranhas nas plantas.
    </p>

    3. Colaborador responsável pelos visitante e/ou prestadores
    de serviços:
    <p></p>
    <p>
        a) Os visitantes e/ou prestadores de serviço devem ser previamente
        informados pelo colaborador responsável por sua permanência dentro da
        unidade de operação, dos principais riscos e aspectos ambientais inerentes à
        instalação, inclusive sobre nossa Política da Qualidade.
    </p>
    <p>
        b) Não é aconselhado a realização de visitas a obras, salvo em situações
        excepcionais justificáveis antecipadamente pela natureza dos visitantes ao
        Técnico de Segurança do Grupo.
    </p>


    4. Circulação de visitantes e/ou presta
    <p></p>
    <p>
        a) Adefinição de cada circuito de visita é da responsabilidade do guia da visita,
        de acordo com as caraterísticas do grupo de visitantes e/ou prestadores de
        serviços, sendo estritamente proibida a circulação fora das áreas do circuito
        estabelecido, bem como às áreas de acesso reservado;
    </p>
    <p>
        b) Ao andar pela Unidade Operacional, esteja sempre acompanhado por um
        representante da empresa;
    </p>
    <p>
        c) Usar EPIs durante os trabalhos e nas visitas técnicas e instalações em que
        seu uso seja obrigatório;
    </p>
    <p>
        d) No caso de pretenderem utilizar quaisquer equipamentos audiovisuais de
        captação de imagem (Fotografia e/ou vídeo), tal solicitação deverá ser
        previamente autorizada pelo responsável administrativo de sua visita, caso
        contrário é PROIBIDOseu uso.
    </p>

    5. Condições físicas:
    <p></p>
    <p>
        a) É expressamente proibida a entrada nas instalações da empresa estando
        sob o efeito de álcool, drogas ou outro tipo de substâncias inibidoras de uma
        presença segura e adequada às condicionantes das instalações.
    </p>


    6. Normas de Segurança:
    <p></p>
    <p>
        a) É obrigatório que se cumpra as normas e instruções de Segurança como
        segue:
        - Não corra nas dependências da Unidade Operacional;
        - Não fumar em áreas fechadas ou que apresentem algum tipo de risco.
        Apenas em locais apropriados e sinalizados;
        - Não passe e nem permaneça sob carga suspensa;
        - Prestadores de serviços, mantenham limpo e organizado seu ambiente de
        trabalho e áreas comuns;
        - Trabalhe com atenção, SEMPRE;
        - Não remova ou ultrapasse proteções existentes;
        - Utilize os EPI's indicados para cada atividade;
        - ATENÇÃO especial aos Atos Inseguros, são os maiores responsáveis
        pelos acidentes;
        - É proibido adentrar as dependências da Unidade Operacional de bermuda,
        shorts, camiseta regata e chinelo;
        - Não obstrua saídas de emergência e equipamentos de combate a incêndio;
        - Não execute atividades das quais não estiver treinado, habilitado e
        autorizado;
        - Proibido o uso de adornos (anéis, correntes, relógios, pulseiras, etc) onde
        houver risco de acidentes;
        - Respeite sinalizações internas de segurança (faixas, cartazes, placas,
        demarcações de piso, etc);
        - Proibido o uso de celular quando estiver conduzindo veículo, máquinas e ou
        equipamentos;
        - Siga todas as regras e procedimentos da empresa.
    </p>

    7. Meio Ambiente:
    <p></p>
    <p>
        - Preserve o meio ambiente, jogue lixo no lixo;
        - Utilize os recipientes adequados para descarte de resíduos;
        - Colabore com a limpeza, higienização e organização, mantendo as ruas e
        pátios sempre limpos.
    </p>


    8. Procedimentos em caso de acidentes e emergências:

    <p></p>
    <p>
        a) Todo e qualquer acidente deverá ser comunicado imediatamente ao
        responsável do visitante e/ou prestador de serviço, que deverá se reportar
        imediatamente ao Técnico de Segurança Responsável, e(ou) Superior
        imediato, para que sejam efetuados os procedimentos de emergência;
    </p>
    <p>
        b) Para que possa socorrer uma pessoa acidentada ou atuar em emergências
        (princípio de incêndio) é necessário que haja treinamentos especiais. Se você
        não for treinado e autorizado pela empresa, seu papel é de chamar socorro e
        isolar a área até que chegue ajuda, ou abandonar o local com segurança em
        caso de emergência, conforme orientações da Brigada de Incêndio.
    </p>


    9. Danos ao Patrimônio da Empresa:
    <p></p>
    <p>
        a) Os eventuais danos causados em instalações e equipamento(s) pelos
        visitantes e/ou prestadores de serviços, bem como as conseqüências diretas
        ou indiretas daí resultantes, são da responsabilidade de quem os pratica ou da
        instituição responsável.
    </p>

    10. Do não cumprimento das normas Internas:
    <p></p>
    <p>
        a) A empresa não se responsabiliza pelos danos físicos ou materiais
        provocados em qualquer visitante ou prestador de serviço em suas unidades
        operacionais, resultantes de acidentes de qualquer natureza provocados pelo
        não cumprimento das normas prescritas ou das indicações fornecidas pelos
        colaboradores da Empresa.
    <p>
    <p>
        Qualquer infração às normas da empresa em matéria de Segurança e
        Ambiente ou outra atentatória das regras pode determinar a imediata
        suspensão da visita e/ou prestação de serviço com o conseqüente abandono
        das instalações.
    </p>







</div>