@*model @*PortariaInteligente.Models.Visitante *@

@{
    ViewData["Title"] = "RegrasDeSeguranca";
}

<h5>Portaria Inteligente</h5>
<br >
<br />

<div class="text-center">
    <h4 class="display-4">Regras de Segurança </h4>

    <p>
        <br>
        <br />


    <p align="Justify">
        A Portaria Inteligente estabelece neste Termo de Uso e Política de
        Privacidade (“TERMO”) as condições para utilização do site e/ou Aplicativo de propriedade
        da Portaria Inteligente, de forma a esclarecer as obrigações e responsabilidades
        de seus usuários.
        Leia atentamente o seguinte TERMO, pois ele se aplica ao seu acesso e forma de uso das
        informações, materiais e itens/funções contidas neste Site e/ou Aplicativo e em suas páginas.
        Ao acessar este Site e/ou Aplicativo, você estará concordando e declarando estar ciente com
        este TERMO.
        
    </p>

</div>