@*model @*PortariaInteligente.Models.Visitante *@

@{
    ViewData["Title"] = "TermoDeUso";
}

<h5>Portaria Inteligente</h5>
<br>
<hr />
<div class="text-center">
    <h4 class="display-4">Termo de Uso </h4>
    <hr />
    <p>
        <br>
        <br />


        <div class="text-left">
    <p align="Justify">
        1. APRESENTAÇÃO
    <p>
    <p> portariainteligente.com.br – um serviço fornecido por:</p>
    <p> Portaria inteligente Informática Ltda.</p>
    <p> CNPJ nº 00.000.0000/0001-00</p>
    </p>
    <p></p>
    <p>
        O presente Acordo estabelece os termos obrigacionais que irão reger a relação jurídica entre o site portariainteligente.com.br e seus Usuários (individualmente referidos como Usuário).
    </p>
    <p>
        O presente Acordo de Utilização é um contrato, ainda que firmado por meio eletrônico, e possui eficácia e validade jurídicas, em conformidade com a legislação civil em vigor (artigos 422 e 425 do Código Civil, Lei nº 10.406/2002).
    </p>
    <p>
        O objetivo deste contrato é assegurar a efetivação de uma política de transparência, privacidade e segurança para ambas as partes envolvidas, que permita a melhor utilização do site por seus Usuários.
    </p>
    <p>
        Ao acessar o site portariainteligente.com.br e cadastrar-se, é preciso que você leia e concorde com os termos do acordo de utilização, o qual poderá ser atualizado, visando adequar-se à legislação vigente e aos novos serviços.
    </p>
    <p>
        Ao utilizar os serviços do Site.com.br, é preciso que você se obrigue a determinados deveres, abaixo detalhados e, no momento em que qualquer deles for violado, este contrato será automaticamente rescindido e poderá ensejar eventuais medidas judiciais, em caso de prejuízo em face da fornecedora dos serviços e/ou de terceiros.
    </p>
    <p>
        Caso a rescisão do presente contrato se dê por culpa exclusiva do Usuário, o mesmo não será reembolsado das quantias efetivamente despendidas.
    </p>
    <p>
        O Usuário poderá ter acesso ao presente Acordo de Utilização, a qualquer tempo, através da página https://www.portariainteligente.com.br/termos-de-utilizacao/
    </p>
    <p>
        Igualmente, o Usuário poderá armazenar o presente instrumento mediante o seguinte procedimento: em qualquer página deste site, acessar o link ?acordo de utilização?, localizado ao final da página, e em seguida, acessar o dispositivo ?salvar como? ou similar, encontrado no menu de seu navegador, ou se preferir, o Usuário poderá imprimir o presente acordo para posterior consulta, ou para registro do contrato firmado entre as partes.
    </p>
    <p>
        Após a leitura atenta do teor deste contrato, e se for de seu interesse, indique – na caixa de aceitação – a sua concordância com o mesmo. Em caso de concordância com os termos do acordo de utilização dos serviços, marque a opção correspondente.
    </p>
    <p>
        Uma vez contratado, os deveres e as normas aqui transcritos considerar-se-ão lidos e deverão ser obrigatoriamente obedecidos. A partir do momento em que os serviços oferecidos neste site forem utilizados, a sua aceitação a este Termo estará sendo ratificada, indicando que o Usuário leu e concorda com o que está inserido em suas cláusulas.
    </p>

    2. DO FORO DE ELEIÇÃO
    <p></p>
    <p>
        Em conformidade com a legislação em vigor, o foro para dirimir eventuais controvérsias que decorram deste contrato será o do consumidor.
    </p>
    <p>
        Caso o litígio decorrente do presente contrato não for caracterizado pela legislação consumerista, o foro de eleição será o foro da cidade do São Paulo – SP.
    </p>
    3. DAS DISPOSIÇÕES FINAIS
    <p></p>
    <p>
        Este Acordo será regido pelas leis do Brasil e atende ao sistema legal brasileiro, aos princípios gerais de direito e as normas internacionais de comércio eletrônico.
    </p>
    <p>
        Caso o Usuário não concorde com determinada cláusula deste Acordo, e obtenha judicialmente a nulidade da mesma, os demais dispositivos não serão prejudicados e permanecerão em vigor.
    </p>
    <p>
        AO CRIAR UM SITE OU UTILIZAR NOSSOS SERVIÇOS VOCÊ CONCORDA QUE LEU E COMPREENDEU OS TERMOS E DISPOSIÇÕES DESTE ACORDO DE UTILIZAÇÃO E ESTÁ CIENTE DE SEU INTEIRO TEOR, ACEITANDO SUAS CONDIÇÕES.
    </p>

</div>