@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Sistema de Gestão de Acessos</h3>
    <p>
        Bem-vindo ao sistema de gestão de acessos da nossa empresa, aqui você pode cadastrar suas reuniões com visitentes externos.
        kkkkkkkkkk
    </p>

</div>



