@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Sistema de Gestão de Acessos</h3>
    <p>
        Bem-vindo ao sistema de gestão de acessos da nossa empresa, aqui você pode cadastrar suas reuniões com visitentes externos.
    </p>
    <p>
        Esse projeto foi desenvolvido para a disciplina de Laboratório de Engenharia de Software da Fatec-SP, matéria ministrada pela professora Sandra Harumi Tanaka.
    </p>
</div>

<div>
    <h4>Integrantes</h4>
    <p>* Azize A. F. Júnior </p>
    <p>* Lilia G. de Matos  </p>
    <p>* Renan Guedes </p>
    <p>* Paola P. Gaeta</p>
    <p>* Raymundo B. F. Júnior</p>
    <p>* Reginaldo S. Ferreira</p>
</div>

